Package: com.senko.daemon
Name: Senko
Version: 09092026-patch3-nightly
Architecture: all
Description: full-device VLESS and AmneziaWG client for jailbroken iOS 5-15 (armv7 + arm64)
Maintainer: sqmrak
Author: sqmrak
Section: Networking
Priority: optional
Depends: firmware (>= 5.0)
