Package: com.senko.daemon
Name: Senko
Version: 1.0.0-stable
Architecture: iphoneos-arm
Description: full-device VLESS and AmneziaWG client for jailbroken iOS 6-10 (armv7 + arm64)
Maintainer: sqmrak
Author: sqmrak
Section: Networking
Priority: optional
Depends: firmware (>= 6.0), mobilesubstrate
